<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Landing</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="form-inline">
     
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 Hlogo">
                <div class="text-center ">
                          <br>
                    <br>
                    <br>
                    <h1 class="">
                        <!--
  <a href="" class="typewrite Hlogo1" data-period="2000" data-type='[ "BlockTeam", "BlockTeam" ]'>
    <span class="wrap"></span>
  </a>-->
  BlockTeam
                </h1>
                    <br>
              
                    
                </div>
                
        </div>
    </div>
</div>
    <div id="particles"></div>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="js/background.js"></script>
</body>

</html>